.wrapper {
  width: 100%;
  position: relative;
  z-index: 2;
}

.productImage {
  width: 100%;
  height: auto;
  margin: 0 auto;
  
  @media (min-width: 990px) {
    height: 25rem;
  }
  
  @media (min-width: 1200px) {
    height: 35rem;
  }
}

.cta {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1.5rem;
  right: 3.5rem;
  border-radius: 50%;
  box-shadow: 
    0 1px 1px rgb(0 0 0 / 5%), 
    0 2px 2px rgb(0 0 0 / 5%), 
    0 4px 4px rgb(0 0 0 / 5%), 
    0 6px 8px rgb(0 0 0 / 5%), 
    0 8px 16px rgb(0 0 0 / 5%);
}
