@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Bold";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Bold.woff) format("woff");
}

@font-face {
  font-family: "SF Pro Heavy";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Heavy.woff) format("woff");
}

@font-face {
  font-family: "SF Pro Medium";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Medium.woff) format("woff");
}

@font-face {
  font-family: "SF Pro SemiBold";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-SemiBold.woff) format("woff");
}

.sf-bold {
  font-family: "SF Pro Bold";
}

.sf-medium {
  font-family: "SF Pro Medium";
}

.sf-heavy {
  font-family: "SF Pro Heavy";
}

.sf-semibold {
  font-family: "SF Pro SemiBold";
}
