@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Bold";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Bold.woff) format("woff");
}

@font-face {
  font-family: "SF Pro Heavy";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Heavy.woff) format("woff");
}

@font-face {
  font-family: "SF Pro Medium";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Medium.woff) format("woff");
}

@font-face {
  font-family: "SF Pro SemiBold";
  src: url(/fonts/SFPro/woff/SF-Pro-Display-Semibold.woff) format("woff");
}



.sf-medium {
  font-family: "SF Pro Medium";
}

.sf-semibold {
  font-family: "SF Pro SemiBold";
}

.sf-bold {
  font-family: "SF Pro Bold";
}

.sf-heavy {
  font-family: "SF Pro Heavy";
}

.text-subtitle {
  @media (min-width: 1200px) {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.section-padding-x {
  padding-left: 2rem;
  padding-right: 2rem;
  
  @media (min-width: 567px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  @media (min-width: 767px) {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
  
  @media (min-width: 992px) {
    padding-left: 5.2rem;
    padding-right: 5.2rem;
  }
  
  @media (min-width: 1200px) {
    padding-left: 6.75rem;
    padding-right: 6.75rem;
  }
}